<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1046519477136-gni68m3pq6059ivee422f6mfpp7h1c0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1046519477136-gni68m3pq6059ivee422f6mfpp7h1c0h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1046519477136-8nv86645bl6a09hr0rqrr7qso3u9n16u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDl9v9XzP31jrauM1twqkNPi-m5J3B2nrM</string>
	<key>GCM_SENDER_ID</key>
	<string>1046519477136</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.droidkaigi.DroidKaigi2023</string>
	<key>PROJECT_ID</key>
	<string>ssot-api-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>ssot-api-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1046519477136:ios:a9459b469c5a1984a8f915</string>
</dict>
</plist>
