name: iOS Build

on:
  push:
    branches: [ "main" ]
  pull_request:

concurrency:
  group: ios-build-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-ios:
    runs-on: macos-13

    steps:
      - name: Checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3

      - name: Set up Ruby
        uses: ruby/setup-ruby@250fcd6a742febb1123a77a841497ccaa8b9e939 # v1.152.0
        with:
          bundler-cache: true

      - uses: ./.github/actions/xcode-select

      - uses: ./.github/actions/setup-java

      - name: Set up XCFramework arch filter
        run: echo "arch=x86_64" >> local.properties

      - uses: ./.github/actions/spm

      - run: bundle exec fastlane build_project
        working-directory: app-ios
