name: Manage Renovate pull requests

on:
  workflow_dispatch:
    inputs:
      job_name:
        description: 'A job name'
        required: true
        type: choice
        options:
        - prune-pull-requests
        - execute-renovate

  # Enable this scheduler when we are ready for merging renovate PRs.
  # schedule:
  #   - cron: '0 * * * *' # hourly

run-name: "Manage Renovate PRs by ${{ github.actor }} - ${{ github.event_name }}"

permissions: {}

jobs:
  # Prune pull requests and branches that have failures
  prune-pull-requests:
    if: >
      github.event_name == 'schedule' ||
      inputs.job_name == 'prune-pull-requests'

    timeout-minutes: 5

    permissions:
      issues: read # search pull requests (issues)
      contents: write # for deleting branches
      pull-requests: write # for closing pull requests

    runs-on: ubuntu-latest

    steps:
    - uses: suzuki-shunsuke/renovate-autoclose-action@2995ce6649b412367776e8f66c5359369a05d2f9

  # Just for internal testing of renovate configuration.
  # You have to set your PAT to secrets.
  execute-renovate:
    if: >
      inputs.job_name == 'execute-renovate'
    
    timeout-minutes: 5

    permissions:
      contents: read

    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3.5.3
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@23a02fe7be9e93f857a953cc8162e57d2c8401ef # v39.0.1
        with:
          configurationFile: renovate.json5
          token: ${{ secrets.RENOVATE_TEST_TOKEN }} # workflow, repo, read user:email permissions
        env:
          LOG_LEVEL: 'debug'
          RENOVATE_REPOSITORIES: ${{ github.repository }}